@use './app/styles/variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-color: v.$bg-light;
  color: v.$text-color;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: v.$text-color;
}

p {
    color: v.$text-secondary;
    line-height: 1.6;
}

.card {
    background-color: v.$bg-white;
    border-radius: 8px;
    box-shadow: v.$box-shadow;
    padding: 20px;
    margin-bottom: 20px;
}